@model QuanLyKhachHangModel
@using Nop.Services.NhaXes
@{
    Layout = "~/Views/Shared/_NhaXeLayout.cshtml";


    //page title
    ViewBag.Title = "Thông tin khách hàng của nhà xe";
}
<div class="section-header">
    <div class="title">
        <img src="@Url.Content("~/Content/chonve/nxmenu/phoive.png")" alt="" />
        @ViewBag.Title
    </div>
    <div class="options">
        <a href="/NhaXeBaoCao/ExportExcelDSKhachHang" class="k-button">Xuất excel ds khách hàng</a>
    </div>
</div>
<table style="width:100%">
    <tr>
        <td style="width:20%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        Thông tin khách hàng:
                    </td>
                    <td class="adminData">
                        @Html.TextBoxFor(m => m.ThongTinKhachHang, new { placeholder = "Tên khách hàng hoặc SĐT...", style = "width:250px" })
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:20%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        Từ ngày:
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(m=>m.TuNgay)
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:20%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        Đến ngày:
                    </td>
                    <td class="adminData">
                        @Html.EditorFor(m => m.DenNgay)
                    </td>
                </tr>
            </table>
        </td>
        <td style="width:20%">
            <table class="adminContent">
                <tr>
                    <td class="adminTitle">
                        Tìm theo:
                    </td>
                    <td class="adminData">
                        @Html.DropDownListFor(m => m.LoaiTimKiemId, Model.LoaiTimKiems)
                    </td>
                </tr>
            </table>
        </td>
        <td style="text-align:left">
            <input type="button" id="btnSearch" class="k-button" value="Tìm kiếm" />
        </td>
    </tr>
</table>
<table class="adminContent">
    <tr>
        <td>
            <div id="danhsach-grid"></div>

            <script>
    $(document).ready(function () {
        $("#danhsach-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("QuanLyKhachHang", "Limousine"))",
                                    type: "POST",
                                    dataType: "json",
                                    data: additionalData
                                }
                            },
                            schema: {
                                data: "Data",
                                total: "Total",
                                errors: "Errors"
                            },
                            error: function (e) {
                                display_kendoui_grid_error(e);
                                // Cancel the changes
                                this.cancelChanges();
                            },
                            serverPaging: false,
                            serverFiltering: false,
                            serverSorting: false
                        },
                        scrollable: false,
                        columns: [{
                            field: "Ten",
                            title: "Khách Hàng",
                            width: 200
                        }, {
                            field: "DienThoai",
                            title: "Số Điện Thoại",
                            width: 200,
                            template: '<a href="tel:#=DienThoai#">#=DienThoai#</a>'
                        }, {
                            field: "DiaChi",
                            title: "Địa Chỉ"
                        },{
                            field: "IsTaxi",
                            title: "Có đi taxi",
                            attributes: { style: "text-align:center" },
                            template: '<input type="checkbox" onclick="UpdateIsTaxi(#=Id#)"" id="SelectedCB" #= IsTaxi ? checked="checked" : "" # />'
                        },
                        {
                            field: "SoLuongDat",
                            title: "SL Vé đặt"
                        }, {
                            field: "SoLuongHuy",
                            title: "SL Vé hủy"
                        }, {
                            field: "Id",
                            title: "@T("Admin.Common.Edit")",
                width: 100,
                template: '<a href="javascript:SuaKhachHang(#=Id#)">@T("Admin.Common.Edit")</a>'
            }

            ]
        });
    });
            </script>

            <script type="text/javascript">
                $(document).ready(function () {
                    //search button
                    $('#btnSearch').click(function () {
                        //search
                        var grid = $('#danhsach-grid').data('kendoGrid');
                        //grid.dataSource.page(1); //new search. Set page size to 1
                        grid.dataSource.read(); //we already loaded the grid above using "page" function
                        return false;
                    });
                    $("#txtThongTin").keydown(function (event) {
                        if (event.keyCode == 13) {
                            $("#btnSearch").click();
                            return false;
                        }
                    });
                });

                function additionalData() {
                    return {
                        ThongTinKhachHang: $('#@Html.FieldIdFor(m=>m.ThongTinKhachHang)').val(),
                        TuNgay: $("#@Html.FieldIdFor(m=>m.TuNgay)").val(),
                        DenNgay:$("#@Html.FieldIdFor(m=>m.DenNgay)").val(),
                        LoaiTimKiemId: $('#@Html.FieldIdFor(m=>m.LoaiTimKiemId)').val(),
                    };
                }
                function UpdateIsTaxi(id) {
                    $.ajax({
                        type: "post",
                        datatype: "html",
                        data: { Id: id },
                        url:'@Url.Action("UpdateIsTaxi","Limousine")',
                        success:function(data){

                        }
                    })
                }
                function SuaKhachHang(Id) {
                    var formkhachhang = $("#dtvKhachHang");
                    formkhachhang.html('');
                    formkhachhang.kendoWindow({
                        width: "500px",
                        title: "Chỉnh sửa thông tin khách hàng",
                        content: "@(Url.Action("_KhachHangChinhSua", "Limousine"))?Id=" + Id,
                        modal: true,
                        actions: [
                            "Close"
                        ],
                    }).data("kendoWindow").center();
                    formkhachhang.data('kendoWindow').open();
                }
                function CloseSuaKhachHang() {
                    $("#dtvKhachHang").data('kendoWindow').close();
                    $("#btnSearch").click();
                }
            </script>
        </td>
    </tr>
</table>
<div id="dtvKhachHang" style="display:none"></div>